 <!DOCTYPE html>
<html>
	<head>
		<title>Messages</title>
		<link rel = "stylesheet" href = "/css/messages.css">

		<!-- Latest compiled and minified Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	
	<body>			
			<div class="col-sm-offset-0 col-sm-6" id = "participantList" style = "float: left; text-align: center;">
				<h1>Users messaged<h1>
			</div>
		
			<div style = "float: left;">
				<h1  style = "text-align:center;">Messages</h1>
				<div class = "chat">
					<div class = "chat-messages" id = "chat-messages">
						<!--overall chat in here
						<div class = "my_message">
						</div>-->
					</div>
					<textarea id = "textarea_message" placeholder = "Type your message:"></textarea>						
				</div>
			</div>
		
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Latest compiled Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<script src="/js/messageScripts.js"></script>			
	</body>

</html>

<!-- 
container
<col>rows</col> <col></col>
-->