<div class="container">
    <div class="row">
        <div class="col-sm-3"> <!-- change this to change position and size of search bar -->
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input id="search_box" type="text" name="search_query" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button id="submit" type="submit" onclick="searchSubmit()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="search_results">

        </div>
    </div>
</div>
