<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Student Main</title>
    <link rel="stylesheet" href="css/studentStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='lib/fullcalendar/dist/fullcalendar.css'/>
    <link rel='stylesheet' href='lib/fullcalendar/scheduler.css'/>
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel = "stylesheet" href = "/css/messages.css">

</head>

<body>
    <div class="top-navigation-bar">


        <div id="top-navigation-container">

          <img src="https://olmcnews.files.wordpress.com/2015/11/festival-logo.gif?w=584">

          <ul class="left">
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>

          <ul class="right">
            <li class="user">Logged in as User</li>
            <li><button type="button" class="btn btn-default btn-sm" onclick="logOut()"> Log out
                </button></li>
          </ul>

        </div>
    </div>

    <div class="side-navigation-bar">
        <ul class="side">
          <li><a class="active" href="#"></a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Chats</a></li>
          <li><a href="#">Calendar</a></li>
        </ul>
    </div>

    <div class="middle">


    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="lib/moment/moment.js"></script>
<script src='lib/fullcalendar/dist/fullcalendar.js'></script>
<script src='lib/fullcalendar/scheduler.js'></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="js/studentScript.js"></script>


</html>
